html {
    background: #ff785a;
}

html:hover .spider {
    top: -120%;
}
.font {
  font-family: MV Boli;
}
.spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 20%;
    animation: swing 2s infinite;
    transform-origin: top;
    transition: 1s ease-in-out;
}

.spider .spiderweb {
    width: 2px;
    height: 200px;
    margin-left: 49px;
    background: rgba(255,255,255, .7);
}

.spider .body {
    width: 200px;
    height: 160px;
    background: black;
    position: relative;
    border-radius: 50%;
}
.spider .head {
    width: 100px;
    height: 80px;
    background: black;
    position: relative;
    border-radius: 50%;
    bottom: 100%;
    transform: translate(45%, -25%);
}

.spider .head .eye {
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 10px;
    background: white;
    border-radius: 50%;
}

.spider .head .eye.left {
    left: 60px;
}

.spider .head .eye.right {
    right: 60px;
}

.spider .head .eye:after {
    background: red;
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;

    animation: look 8s infinite;
}

.spider .legs .leg {
    width: 80px;
    height: 40px;
    margin-top: 5px;
    border: 5px solid transparent;
    border-top-color: #000;
    border-radius: 40px 40px 0 0;
}

.spider .legs {
    position: absolute;
    bottom: 0%;
    z-index: 1;
}

.spider .legs.left {
    left: -40%;
}
.spider .legs.right {
    right: -27%;
}


.legs.left .leg:nth-child(1){
    transform: rotate(10deg);
    margin-left: 30px;
}
.legs.right .leg:nth-child(1){
    transform: rotate(-10deg);
    margin-left: -30px;
}


.legs.left .leg:nth-child(2){
    transform: rotate(-20deg);
    margin-left: 30px;
}
.legs.right .leg:nth-child(2){
    transform: rotate(20deg);
    margin-left: -30px;
}


.legs.left .leg:nth-child(3){
    transform: rotate(-50deg);
    margin-left: 30px;
}
.legs.right .leg:nth-child(3){
    transform: rotate(50deg);
    margin-left: -30px;
}
@keyframes look {
    0%, 40%, 100% {
        transform: translateX(0);
    }

    45%, 95% {
        transform: translateX(-110%);
    }
}

@keyframes swing {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
.black-widow{
  width: 50px;
  height: 50px;
  position: fixed;
}

.black-widow::before{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 30px solid transparent;
  border-bottom: 60px solid red;
  border-right: 30px solid transparent;
}
.black-widow::after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 30px solid transparent;
  border-top: 60px solid red;
  border-right: 30px solid transparent;
}
